@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --rc: hsl(0, 100%, 74%);
  --gn: hsl(154, 59%, 51%);
  --bc: hsl(248, 32%, 49%);
  --dbc: hsl(249, 10%, 26%);
  --gbc: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--rc) url("./../images/bg-intro-desktop.png");
  margin: 0;
}

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-description {
  padding-left: 40px;
  padding-right: 40px;
}

.form-description h1 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

.form-description p {
  color: #fff;
  font-size: 16px;
}

.form {
  background-color: #fff;
  width: 100%;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  font-family: inherit;
}
.form-control {
  padding: 0;
  border: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.form-control input {
  padding: 15px;
  display: block;
  width: 100%;
  border: 3px solid #bbb;
  border-radius: 5px;
  font-weight: 700;
}

.form-control.error input {
  border-color: var(--rc);
}

.form-control img {
  visibility: hidden;
  position: absolute;
  bottom: 40px;
  right: 10px;
}

.form-control.error img {
  visibility: visible;
}

.form-control small {
  visibility: hidden;
  color: var(--rc);
  position: absolute;
  right: 0;
}

.form-control.error small {
  visibility: visible;
}

.container .tryitbtn,
.form .submitbtn {
  width: 100%;
  background-color: var(--bc);
  border: none;
  color: var(--gbc);
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 6px 5px hsla(249, 10%, 26%, 0.3);
  padding: 15px;
}

.tryitbtn {
  margin-bottom: 30px;
}

.container .tryitbtn strong {
  color: #fff;
}

.form .submitbtn {
  color: #fff;
  background-color: var(--gn);
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: none;
  margin-bottom: 20px;
}

.btndescription {
  font-size: 12px;
  text-align: center;
  color: var(--gbc);
}

.btndescription .tms {
  color: var(--rc);
  font-weight: bold;
}

/* 
@media (max-width: 480px) {
  .container {
  }
} 
*/
